@font-face {
  font-family: "Fira_sans regular";
  src: url("../../fonts/Fira_Sans/firasans-regular-webfont.woff2") format("woff2"),
       url("../../fonts/Fira_Sans/firasans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fira_sans light";
  src: url("../../fonts/Fira_Sans/firasans-light-webfont.woff2") format("woff2"),
       url("../../fonts/Fira_Sans/firasans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fira_sans medium";
  src: url("../../fonts/Fira_Sans/firasans-medium-webfont.woff2") format("woff2"),
       url("../../fonts/Fira_Sans/firasans-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
