* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
}

body {
  font-family: "Fira_sans light", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  background-color: #F8F8F8;
  position: relative;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #000000;
}

.section {
  padding-left: 16px;
  padding-right: 16px;
}

.primary-section {
  background-image: url(./images/bg_mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 44px;
  padding-bottom: 60px;
}

.socials-list {
  margin-bottom: 24px;
}

.socials-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.email-item {
  font-family: "Fira_sans light", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 36px;
}

.email-item a {
  display: block;
  margin-left: 4px;
}

.email-item a:hover {
  color: #410D83;
}

.behance-link {
  text-transform: uppercase;
}

.behance-link:hover {
  color: #410D83;
}

.project-link {
  position: relative;
}

.project-link:hover::after {
  position: absolute;
  content: '';
  background-repeat: no-repeat;
  background-size: cover;
  left: -2px;
  animation-name: fadeIn;
  animation-duration: 1s; 
  animation-timing-function: ease; 
  visibility: visible !important; 
  z-index: 1;
}

@keyframes fadeIn {
  0% {
      transform: scale(0);
      opacity: 0.0;
  }
  60% {
      transform: scale(1.1);  
  }
  80% {
      transform: scale(0.9);
      opacity: 1; 
  }   
  100% {
      transform: scale(1);
      opacity: 1; 
  }       
}

.project-link--pb:hover::after {
  background-image: url('./images/pb_hover.png');
  width: 120px;
  height: 243px;
  top: 45px;
  left: 175px;
  transition: .3s ease-in-out;
}

.project-link--abstract:hover::after  {
  background-image: url('./images/am_hover.png');
  width: 358px;
  height: 260px;
  top: 75px;
}

.project-link--uber:hover::after {
  background-image: url('./images/uber_hover.png');
  width: 120px;
  height: 243px;
  top: 75px;
}

.text-container {
  margin-bottom: 16px;
}

.text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1px;
}

.text:not(:last-child) {
  margin-bottom: 12px;
}

h1 {
  font-size: 44px;
  line-height: 49px;
  font-weight: 300;
  letter-spacing: -3px;
  margin-bottom: 4px;
}

.subheading {
  font-family: "Fira_sans regular";
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: -3px;
}

.description {
  font-family: "Fira_sans regular";
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 20px;
}

.socials-item {
  margin-bottom: 20px;
}

.socials-text {
  font-size: 16px;
  line-height: 20px;
  margin-left: 4px;
}

.socials-link:hover .socials-icon path,
.footer-link:hover .footer-icon path {
  fill: #410D83;
  transition: 0.2s ease;
}

.socials-link:hover,
.footer-link:hover {
  color: #410D83;
  transition: 0.2s ease;
}

.second-heading {
  font-family: "Fira_sans medium";
  font-size: 40px;
  line-height: 45px;
  font-weight: 500;
  letter-spacing: -2px;
  margin-bottom: 8px;
}

.caption {
  font-family: "Fira_sans regular";
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: -2px;
  margin-bottom: 24px;
}

.img-container {
  margin: 24px -16px 0;
  display: block;
}

.main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-second {
  margin-top: 36px;
}

.project-item,
.subject,
.project-place {
  font-size: 28px;
  line-height: 34px;
}

.subject {
  font-family: "Fira_sans regular";
  display: block;
  font-weight: 400;
  margin-bottom: 20px;
}

.project-place {
  color: #371B5A;
}

.project-list {
  margin-bottom: 16px;
}

.project-item {
  font-family: "Fira_sans light";
  text-transform: uppercase;
}

.project-item:not(:last-child) {
  margin-bottom: 20px;
}

.project-link:hover {
  color: #410D83;
  transition: 0.2s ease;
}

.project-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 100px;
}

.project-section:not(:last-child)::after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  background-image: url('./images/small_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.section-uber {
  padding-bottom: 40px;
}

.image-flex {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: -16px;
  margin-left: -16px;
  margin-bottom: 24px;
  overflow-x: auto;
}

.project-image:not(:last-child) {
  margin-right: 24px;
}

.scroll-container {
  scroll-behavior: smooth;
}

.image-container {
  display: block;
  margin-bottom: 24px;
}

footer {
  background-image: url('./images/footer_bg_mob.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 16px 44px;
}

.footer-list {
  margin-bottom: 32px;
}

.footer-text {
  display: block;
  margin-left: 4px;
}

.footer-link {
  display: flex;
  align-items: center;
}

.footer-item:not(:last-child) {
  margin-bottom: 16px;
}

.footer-email {
  font-family: "Fira_sans regular";
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.footer-email a:hover {
  color: #410D83;
}
