@media screen and (min-width: 744px) {
  .section {
    padding-left: 40px;
    padding-right: 40px;
  }

  .primary-section {
    background-image: url(./images/bg_tab.jpg);
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .text {
    font-size: 18px;
    line-height: 24px;
  }
  
  .img-container {
    margin: 30px 0 12px;
  }

  .image-flex {
    margin-left: -40px;
    margin-right: -40px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .footer-email {
    flex-direction: row;
  }

  .footer-email a {
    margin-left: 4px;
  }

  footer {
    padding: 60px 40px;
  }
}

@media screen and (min-width: 834px) {
  .primary-section {
    display: flex;
  }

  .primary-wrap {
    padding-left: 30px;
  }

  h1 {
    margin-bottom: 10px;
  }

  .description {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 0;
  }

  .contacts {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding-top: 15px;
  }

  .socials-list {
    display: flex;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .socials-item {
    margin-bottom: 0;
    margin-left: 30px;
  }

  .projects {
    margin-top: 55px;
  }

  .project-second {
    margin-top: 40px;
  }

  .socials-list,
  .email-item {
    margin-bottom: 20px;
  }

  .text-container {
    column-count: 2;
    column-gap: 40px;
  }

  .text {
    margin-bottom: 0;
  }

  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .footer-list {
    display: flex;
    margin-bottom: 0;
  }

  .footer-item {
    margin-left: 30px;
  }

  .footer-item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .primary-section {
    background-image: url('./images/bg_1440.jpg');
  }

  .photo-wrap {
    width: 45%;
  }

  .image-flex,
  .image-container {
    margin-bottom: 40px;
  }

  .project-image {
    width: 280px;
    height: 565px;
  }

  .project-image:not(:last-child) {
    margin-right: 40px;
  }

  .socials-item {
    margin-left: 50px;
  }

  .button-scroll {
    display: block;
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 110px;
    right: 20px;
    background-color: #292929;
    border: none;
    padding: 0;
    color: #ffffff;
    border-radius: 50%;
  }

  .button-scroll::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    top: 4px;
    left: 23px;
    background-image: url('./images/chevrons-up.svg');
    opacity: 0;
    transition: .2s ease-out;
  }

  .button-scroll:hover::before {
    opacity: 1;
    transform: translateY(-3px);
  }

  .button-scroll:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom, #410D83 0%, rgba(65, 13, 131, 0.15) 100%);
    background-color: #ffffff;
    transition: .2s ease;
  }

  .footer-item {
    margin-left: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding-left: 80px;
    padding-right: 80px;
  }

  .primary-section {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  h1 {
    font-size: 50px;
    line-height: 54px;
    margin-bottom: 20px;
  }

  .subheading {
    font-size: 40px;
    line-height: 48px;
  }

  .project-section {
    padding-top: 80px;
    padding-bottom: 140px;
  }

  .project-section:not(:last-child)::after {
    height: 80px;
    background-image: url('./images/narrow_bg.jpg');
  }

  .second-heading {
    font-size: 45px;
    line-height: 49px;
    margin-bottom: 12px;
  }

  .section-uber {
    padding-bottom: 80px;
  }

  .caption {
    font-size: 25px;
    line-height: 38px;
    margin-bottom: 40px;
  }

  .primary-wrap {
    padding-left: 60px;
  }

  .img-container {
    width: 547px;
    height: 606px;
  }

  .projects {
    margin-top: 145px;
  }

  .project-item,
  .subject,
  .project-place {
    font-size: 28px;
    line-height: 34px;
  }

  .project-list {
    margin-bottom: 28px;
  }

  .text-container {
    margin-bottom: 24px;
  }

  .text {
    margin-bottom: 0;
  }

  .image-flex {
    padding-left: 80px;
    margin-left: -80px;
    margin-right: -80px;
  }

  footer {
    padding: 60px 80px;
    background-image: url('./images/footer_bg.jpg');
  }
}

@media screen and (min-width: 1920px) {
  .section {
    padding-left: 120px;
    padding-right: 120px;
  }

  .primary-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .project-section {
    padding-top: 120px;
    padding-bottom: 200px;
  }

  .section-uber {
    padding-bottom: 120px;
  }

  .img-container {
    margin: 42px 0 12px;
  }

  .primary-wrap {
    padding-left: 135px;
  }

  .contacts {
    flex-wrap: nowrap;
  }

  .text-container {
    column-gap: 75px;
  }

  .projects {
    margin-top: 222px;
  }

  .project-image:not(:last-child) {
    margin-right: 64px;
  }

  .image-flex {
    padding-left: 135px;
    margin-left: -135px;
    margin-right: -135px;
  }

  footer {
    padding: 60px 120px;
  }
}